.container {
    width: 910px;
}

body {
    background: #67ff21;
}

#header {
    padding-top: 20px;
}

#header img {
    padding: 1em;
    background: #fff;
}

#content {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

/*animated*/

div#animated {
    animation-play-state:running;
}

/* Links */

a {
    color: #cc1cbf;
    text-decoration: none;
}

a:hover {
    color: #4731cc;
    text-decoration: underline;
}

a:visited {
    color: olivedrab;

}

/* Navigation */

.navigation {
    float: right;
}

.navigation {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

ul.navigation {
    margin: 0;
}

.navigation li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

.navigation li a {
    padding: 0 5px;
    font-weight: bold;
}

.navigation li a:visited {
    color: #09c;
}

.navigation li a:hover {
    text-decoration: underline;
}

.content {
    color: #419f20;
    background-color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
    word-spacing: 0.6pt;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    word-spacing: 0.6pt;
    top:10px;


}

/* new menubar css */

.menu-bar {
    /* width: 98%; */
    margin: 0px 0px 0px 0px;
    /* padding: 6px 6px 4px 6px; */
    height: 30px;
    /* line-height: 120%; */
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    box-shadow: 2px 2px 3px #67ff21;
    -webkit-box-shadow: 2px 2px 3px #419f20;
    -moz-box-shadow: 2px 2px 3px #419f20;
    background: #3fdd20;
    background: linear-gradient(top, #5de719, #419f20);
    background: -ms-linear-gradient(top, #5de719, #419f20);
    background: -webkit-gradient(linear, left top, left bottom, from(#5de719), to(#419f20));
    background: -moz-linear-gradient(top, #5de719, #419f20);
    border: solid 1px #419f20;
    position: relative;
    z-index: 999;
    border-left: 80px;
    font-size: 140%;
    font-style: italic;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
    top: 20px;

}
.menu-bar li {
    margin: 0px 0px 6px 0px;
    margin-left: 110px;
    padding: 0px 6px 0px 6px;
    float: left;
    position: relative;
    border-left: 90px;
    list-style: none;
    font-weight: bold;
    margin-top: 6px;
}
#menu-bar a {
    font-weight: bold;
    font-family: arial;
    font-style: normal;
    font-size: 12px;
    color: #e72b30;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
    margin: 0;

}
#menu-bar .active a, #menu-bar li:hover > a {
    background: #8bd416;
    background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
    background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
    background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
    background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
    color: #444444;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
    background: none;
    border: none;
    color: #666;
    -box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#menu-bar ul a:hover {
    background: #0399D4 !important;
    background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
    background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
    background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
    color: #FFFFFF !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
    display: block;
}
#menu-bar ul {
    background: #DDDDDD;
    background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
    background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 30px;
    left: 0;
    border: solid 1px #B4B4B4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#menu-bar ul a {
    padding:10px 0px 10px 15px;
    color:#424242 !important;
    font-size:12px;
    font-style:normal;
    font-family:arial;
    font-weight: normal;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#menu-bar {
    display: inline-block;
}
html[xmlns] #menu-bar {
    display: block;
}
* html #menu-bar {
    height: 1%;
}

/* Slide show */

body{
    background:#ddd;
    font-family:Arial;
}
h1{
    position:relative;
    text-indent:-9000px;
    width:557px;
    height:103px;
    margin:20px auto 20px auto;
    background:transparent url(SiriEvents1.png) no-repeat top left;
}
span.reference{
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:12px;
}
span.reference a{
    color:#666;
    text-shadow:1px 1px 1px #fff;
    text-transform:uppercase;
    text-decoration:none;
    margin-right:30px;
}
span.reference a:hover{
    color:#333;
}
.content{
    width:700px;
    margin:0 auto;
}

.msg_slideshow{
    margin:0 auto;
}
a.back{
    background:transparent url(SiriEvents1.png) no-repeat top left;
    height:13px;
    width:248px;
    display:block;
    clear:both;
    text-indent:-9000px;
    margin:20px auto;
}
a.back:hover{
    background-position:0px -13px;
}


.msg_slideshow{
    width:400px;
    height:400px;
    padding:10px;
    position:relative;
    overflow:hidden;
    background:#101010 url(loading.gif) no-repeat center center;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.msg_slideshow a{
    outline:none;
}
.msg_slideshow a img{
    border:none;
}
.msg_wrapper{
    width:400px;
    height:400px;
    position:relative;
    margin:0;
    padding:0;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.msg_wrapper img{
    display: inline-block!important;
    vertical-align:middle;
    -moz-box-shadow:0px 0px 10px #000;
    -webkit-box-shadow:0px 0px 10px #000;
    box-shadow:0px 0px 10px #000;
}
.msg_controls{
    position:absolute;
    bottom:15px;
    right:-110px;
    width:104px;
    height:26px;
    z-index: 20;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#000;
    opacity:0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.msg_controls a{
    float:left;
    background-color:#000;
    width:20px;
    height:20px;
    margin:3px 3px;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    background-repeat:no-repeat;
    background-position: center center;
}
.msg_controls a:hover{
    opacity:1.0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.msg_controls a.msg_grid{
    background-image:url(grid.png);
}
.msg_controls a.msg_prev{
    background-image:url(prev.png);
}
.msg_controls a.msg_next{
    background-image:url(/next.png);
}
.msg_controls a.msg_pause{
    background-image:url(pause.png);
}
.msg_controls a.msg_play{
    background-image:url(play.png);
}
.msg_thumbs{
    background:#000;
    position:absolute;
    width:250px;
    height:166px;
    top:-230px;
    left:50%;
    padding:30px;
    margin:0 0 0 -155px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
    opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    overflow:hidden;
}
.msg_thumb_wrapper{
    position:absolute;
    width:250px;
    height:166px;
    top:30px;
    left:30px;
    z-index:30;
}
.msg_thumb_wrapper a{
    display:block;
    width:75px;
    height:75px;
    float:left;
    margin:4px;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.msg_thumbs a.msg_thumb_next,
.msg_thumbs a.msg_thumb_prev{
    width:18px;
    height:20px;
    background-repeat:no-repeat;
    background-position: center center;
    position:absolute;
    top:50%;
    margin-top:-10px;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.msg_thumbs a.msg_thumb_next:hover,
.msg_thumbs a.msg_thumb_prev:hover{
    opacity:1.0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.msg_thumbs a.msg_thumb_next{
    background-image:url(next_thumb.png);
    right:5px;
}
.msg_thumbs a.msg_thumb_prev{
    background-image:url(prev_thumb.png);
    left:5px;
}
.msg_thumbs a.msg_thumb_close{
    position:absolute;
    bottom:0px;
    width:50px;
    left:50%;
    margin:0 0 0 -25px;
    background:#202020 url(up.png) no-repeat center center;
    height:16px;
    opacity:0.7;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.msg_thumbs a.msg_thumb_close:hover{
    opacity:1.0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.msg_loading{
    position:absolute;
    background:transparent url(loading.gif) no-repeat center center;
    top:50%;
    left:50%;
    width:50px;
    height:50px;
    margin:-25px 0 0 -25px;
    z-index:25;
    display:none;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/*Round corners*/

.round {
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         10px;

}

/* Footer */

footer {
  text-align: right;
  margin-top: 10px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile{
	width: 100%;
	margin-bottom :0;
}
td.main{
	width :70%;
	padding: 1em;
}
td.sidebar{
	width:20%;
	padding:1em;
	vertical-align:top;
	background:#ffc;
}

.profile img.gravatar{
	border:1px solid #999;
	margin-bottom: -15px;
}

div.newpage{
	text-align: left;
	margin-left: 15px;
}





