<p>Siri events is a boutique event planning & decorator service in Dallas Fortworth area.
    Sirisha Bavireddy has an engineering background and while helping friends and family organize
    weddings and parties she found her true calling and started Siri Events in 2003.
    Sirisha brings in her impeccable attention to detail and passion to create sophisticated
    and memorable events. Each event is unique and tailored to client's vision.</p>
